#container{
    margin: 0% 1% 0% 5%;
}
body{
    box-sizing: border-box;
}
hr{
    margin: 5% 0% 5% 0%;
}
#threeCards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2%;
}
#threeCards>div>img{
    width: 100%;
}
#threeCards>div>h2{
    text-decoration: underline;
}
#downloadApp{
    display: flex;
    gap:2%;
}
#downloadApp>div>img{
    width:100%;
}
#downloadnowBT{
    color:white;
    background-color: black;
    font-weight: bolder;
    padding: 3%;
    cursor: pointer;
    border: none;
    border-radius: 30px;
}

